<h1>Productos</h1>

<label for="">Nombre</label>
<p>{{user.first_name}}</p>

<label for="">Apellido</label>
<p>{{user.last_name}}</p>

<label for="">Edad</label>
<p>{{user.age}}</p>

<label for="">Role</label>
<p>{{user.role}}</p>

{{#each products}}
  <div>
    <h2>{{title}}</h2>
    <p>{{description}}</p>
    <p>Precio: {{price}}</p>
    <p>Stock: {{stock}}</p>
    <button onclick="addToCart('{{_id}}')">Agregar al Carrito</button>

  </div>
{{/each}}

{{#if hasPrevPage}}
  <a href="{{prevLink}}">Página anterior</a>
{{/if}}

{{#if hasNextPage}}
  <a href="{{nextLink}}">Página siguiente</a>
{{/if}}

<br>

<button id="create-cart-btn">Crear Carrito</button>

<button id="create-ticket-btn">Crear Ticket</button>

<button id="logout">Cerrar Sesión</button>

<script src="/js/logout.js"></script>
<script src="/js/carthandler.js"></script>