<h1>Productos</h1>

<label for="">Nombre</label>
<p>{{user.first_name}}</p>

<label for="">Apellido</label>
<p>{{user.last_name}}</p>

<label for="">Edad</label>
<p>{{user.age}}</p>

<label for="">Role</label>
<p>{{user.role}}</p>

{{#each products}}
  <div>
    <h2>{{title}}</h2>
    <p>{{description}}</p>
    <p>Precio: {{price}}</p>
    <p>Stock: {{stock}}</p>
  </div>
{{/each}}

{{#if hasPrevPage}}
  <a href="{{prevLink}}">Página anterior</a>
{{/if}}

{{#if hasNextPage}}
  <a href="{{nextLink}}">Página siguiente</a>
{{/if}}

<button id="createCartBtn">Crear Carrito</button>

<button id="logout">Cerrar Sesión</button>

<script src="/js/logout.js"></script>
<script src="/js/carthandler.js"></script>